{%  extends 'main.html' %}
{% load static %}
{% block content %}
<br>
<object type="text/html" data="https://www.wikipedia.org/" style="width:49.5%; height:500px"></object>
<object type="text/html" data="https://www.arubanetworks.com/" style="width:49.5%; height:500px"></object>
<object type="text/html" data="https://www.wikipedia.org/" style="width:49%; height:500px"></object>
<object type="text/html" data="https://ipfabric.io/" style="width:49%; height:500px"></object>




{% endblock content %}